Django
djangorestframework
django-cors-headers
django-filter
psycopg2-binary
python-dotenv
requests
django-jazzmin
gunicorn
celery
redis
channels
channels-redis
pytest
djangorestframework-simplejwt
daphne